.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--font-primary);
  margin-right: auto;
  margin-left: 5px;
}

.details {
  flex-basis: 50%;
}

.title {
  font-size: 48px;
  font-weight: bold;
}
