@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

:root {
  --green: rgb(68, 255, 63);
  --orange: rgb(255, 163, 60);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --gray: rgb(128, 128, 128);
  --font-basic: "Instrument Serif", "Georgia", "Times New Roman", serif;
  --font-primary: Arial, sans-serif;
  --header-height: 80px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  font-family: var(--font-basic);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-primary);
}
